/* external fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* primary colours */

.text-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-description {
    color: #727272;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 25px;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    padding: 14px 22px;
    color: white;
    margin-bottom: 30px;
}

/* header section */

/* nav section */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 230px 35px 230px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container {
    display: flex;
    list-style: none;
    gap: 30px;
}

.list-item {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* banner section */

.banner-content {
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 80px;
}

.banner-img {
    width: 100%;
}

/* main section */

/* Features section */


.feature-container {
    display: flex;
    padding: 85px 301px;
    gap: 50px;
    align-items: center;
}

.group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.quick-text {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.feature-text {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* Love and enjoy section */

.love-section-container {
    display: flex;
    gap: 30px;
    padding: 0 230px;
}

.text-box {
    padding: 25px 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

h3 {
    color: #131313;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.left-border h1 {
    border-left: 3px solid #FF900E;
    padding-left: 20px;
}

.architect-img {
    width: 92%;
    padding-left: 60px;
}

.btn-experience {
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    padding: 14px 22px;
    padding: 30px 35px;
    position: relative;
    top: -70px;
}

.btn-title {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.btn-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

/* some fact section */

.some-fact-container {
    margin-top: 50px;
    padding: 0 230px;
    margin-bottom: 150px;
}

.cards-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 5px;
    border: 1px solid #FF900E;
    height: 130px;
    width: 150px;
    text-align: center;
    padding: 40px 30px 30px 30px;
}

.card h3 {
    color: #424242;
    font-size: 2rem;
    margin-top: 5px;
    font-weight: 600;
}

.card p {
    color: #727272;
    font-weight: 500;
    font-size: 14px;
}

/* footer section */

.footer-section {
    /* height: 500px; */
    padding: 0 230px;
    text-align: center;
}

.sponsors-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-end {
    background-color: #FFF4E7;
    border-radius: 5px;
    padding: 25px 100px;
    margin-top: 80px;
    margin-bottom: 150px;
}

.footer-end h5 {
    color: #424242;
    font-size: 14px;
    font-weight: 400;
}





/* responsive in mobile/small devices */


@media screen and (max-width:576px) {

    header,
    .feature-container,
    .love-section-container,
    .architect-img,
    .some-fact-container,
    .footer-section,
    .sponsors-container,
    .footer-end {
        padding: 20px;
    }

    .nav-container,
    .feature-container,
    .love-section-container,
    .cards-container,
    .sponsors-container {
        flex-direction: column;
    }

    .banner-content {
        width: auto;
    }
    .sponsors-img{
        width: 50%;
        margin: 10px auto;
    }
    .card, {
        margin-bottom: 10px;
    }

    .cards-container {
        padding-left: 60px;
    }

    .group-container {
        grid-template-columns: repeat(1, 1fr);
    }



}

/* responsive in tab/large devices */

@media screen and (min-width:577px) and (max-width:992px) {

    header,
    .love-section-container,
    .some-fact-container,
    .footer-section,
    .sponsors-container {
        padding: 30px;
    }

    .feature-container,
    .love-section-container,
    .sponsors-container {
        flex-direction: column;
    }
    .sponsors-img{
        width: 30%;
        margin: 15px auto;
    }
    .cards-container {
        gap: 5px;
    }
}